.transition {
  gap: 1rem;
  padding: 5rem;
  display: grid;
  align-items: center;
  justify-content: space-around;
  background: var(--secondary);
  color: var(--effect);
}

main {
  min-height: 70vh;
  display: grid;
  font-size: 1.2rem;
  color: var(--text);
  flex-direction: column;
  background: var(--primary);
  grid-template-columns: repeat(2, 40%);
  background: scroll no-repeat center
    url("/img/civil-engineer-and-construction-worker-manager-holding-digital-tablet-and-blueprints-talking-and-planing-about-construction-site-cooperation-teamwork-concept.webp");
  background-size: cover;
  padding: 1rem 4rem;
  align-items: center;
}

main > article {
  color: var(--dark);
  min-height: 40vh;
  box-shadow: 0.2rem 0.2rem 0.3rem var(--secondary);
  backdrop-filter: blur(0.5rem);
  border-radius: 0.5rem;
}

.presentation {
  color: var(--dark);
  padding: 2rem;
}

/* footer */

footer > article {
  display: grid;
  color: var(--primary);
  padding: 1rem 4rem;
  grid-template-columns: repeat(2, auto);
  background: var(--dark);
  justify-content: space-around;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

footer a:hover {
  text-decoration: none;
  color: var(--effect);
}

footer .navigation,
.info-legal {
  display: flex;
  flex-direction: column;
}
