@media (max-width: 1230px) {
  .contained {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 920px) {
  .hero {
    padding: 0 2rem;
  }

  nav {
    position: relative;
  }

  .nav-brand .nav-toggle-button {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .nav-links {
    position: absolute;
    display: none;
    flex-direction: column;
    color: var(--primary);
    background: var(--secondary);
    box-shadow: 0.2rem.2rem 0.4rem var(--secondary);
    padding: 0.5rem;
    top: 4rem;
    right: 0.5rem;
    transform: translateX(-0.5rem);
    z-index: 1;
  }

  .nav-links.active {
    display: block;
    flex-direction: column;
    max-width: 6rem;
  }

  .nav-dropdown-content {
    display: none;
    position: absolute;
    color: var(--primary);
    background: var(--secondary);
    box-shadow: 0.2rem.2rem 0.4rem var(--secondary);
    padding: 0.5rem;
    top: 0;
    transform: translateX(-12rem);
    z-index: 1;
  }

  main {
    grid-template-columns: repeat(2, 50%);
  }

  .contain-card {
    padding: 1rem;
  }

  .contained {
    box-shadow: none;
  }
}

@media (max-width: 610px) {
  .nav-brand p {
    display: none;
  }

  main {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .hero {
    display: flex;
    padding: 0;
  }

  .contain {
    padding: 0;
  }

  .hero .buttons {
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  header {
    padding: 1.5rem;
  }

  main {
    padding: 1rem;
  }

  .contained {
    padding: 1rem;
  }

  form {
    padding: 1rem;
  }

  footer > article {
    display: grid;
    color: var(--primary);
    padding: 1rem 2rem;
    grid-template-columns: repeat(1, auto);
    justify-content: space-around;
    gap: 1rem;
  }
}
